

.div{background-color:rgb(255, 255, 255);
  color:white;
  margin:5px;
  padding:4px;
  border-radius:6px;

}

.div h2{text-align: center;
  
}


.Art1 {width:200px;
  right:10px;
  display: block;
  margin: auto;
}

.text1 {text-align:center;
  color: rgb(238, 252, 252);
  border: 2px black solid;
  border-radius: 5%;
}
.text2 {padding: 20px;
  color: rgb(238, 252, 252);
  border: 2px black solid;
  border-radius: 5%;
}



.Art2{border: 2px black solid;
  font-size:20px; 
  font-family:arial;
  color:black;


}